In [70]:
import pandas as pd
from IPython.display import display, HTML

# load all sentences that occured 10 times or more
sentences_df = pd.read_csv('data/BookCorpus/sentences_counted_8+.csv')

# load "bad words"
bad_words = pd.read_csv('https://raw.githubusercontent.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words/master/en',header=None)
bad_words.columns = ['word']

# compute bad word flag
bad_words_list = bad_words.word.tolist()
sentences_df['contains_bad_word'] = sentences_df.sentence.str.contains(' | '.join(bad_words_list))

# compute space count (sentence length)
sentences_df['space_count'] = sentences_df.sentence.str.count(' ')

In [71]:
# sample of all sentences occuring 8+ times
sentences_df.sample(10).sort_values(by='n',ascending=False)

,Unnamed: 0,sentence,n,contains_bad_word,space_count
8993,8993,he did n't hesitate .,122,False,4
131721,131721,and what do you know .,12,False,5
143651,143651,the man whispered .,11,False,3
149718,149718,"oh , but i do .",11,False,5
165355,165355,jane asked him .,10,False,3
169956,169956,longbow suggested .,10,False,2
180998,180998,ms. messenger .,9,False,2
228091,228091,she 's all right . '',8,False,5
208685,208685,xoe ?,8,False,1
237554,237554,a shift that had consisted of walking the pris...,8,False,22

In [72]:
# most common sentences containing "he"
sentences_df[sentences_df.sentence.str.contains(' he ')].head(10)

,Unnamed: 0,sentence,n,contains_bad_word,space_count
374,374,"`` no , '' he said .",1763,False,6
541,541,`` where is he ? '',1331,False,5
632,632,"`` yes , '' he said .",1177,False,6
807,807,where is he ?,970,False,3
853,853,but he did n't .,914,False,4
999,999,`` what did he say ? '',793,False,6
1112,1112,where was he ?,728,False,3
1400,1400,and he did .,589,False,3
1442,1442,what was he doing ?,576,False,4
1481,1481,"`` okay , '' he said .",562,False,6

In [73]:
# most common sentences containing "she"
sentences_df[sentences_df.sentence.str.contains(' she ')].head(10)

,Unnamed: 0,sentence,n,contains_bad_word,space_count
522,522,`` where is she ? '',1358,False,5
568,568,"`` no , '' she said .",1274,False,6
719,719,"`` yes , '' she said .",1070,False,6
966,966,where is she ?,812,False,3
1358,1358,where was she ?,608,False,3
1462,1462,"`` okay , '' she said .",572,False,6
1498,1498,`` how is she ? '',557,False,5
1581,1581,but she did n't .,533,False,4
1650,1650,`` what did she say ? '',516,False,6
1836,1836,`` is she okay ? '',472,False,5

In [74]:
# common sentences about copyright
sentences_df[sentences_df.sentence.str.contains('copyright')].head(10)

,Unnamed: 0,sentence,n,contains_bad_word,space_count
10068,10068,this book remains the copyrighted property of ...,111,False,22
10340,10340,"although this is a free book , it remains the ...",109,False,30
26176,26176,without limiting the rights under copyright re...,49,False,67
66153,66153,please do not participate in or encourage pira...,22,False,17
76446,76446,it remains the copyrighted property of the aut...,19,False,23
81529,81529,"the stories , articles and illustrations conta...",18,False,24
97707,97707,"no part of this publication may be copied , re...",16,False,34
98227,98227,this book contains material protected under in...,16,False,13
121571,121571,"although this is a free book , it remains the ...",13,False,36
122441,122441,"although this is a free book , it remains the ...",13,False,31

In [75]:
# random sentences with "bad words"
sentences_df[(sentences_df.contains_bad_word)].sample(10).sort_values(by='n',ascending=False)

,Unnamed: 0,sentence,n,contains_bad_word,space_count
16799,16799,`` asshole ! '',72,True,3
23725,23725,"ah , fuck .",54,True,3
26130,26130,`` who the fuck are you ? '',49,True,7
50164,50164,it 's just sex .,28,True,4
58508,58508,what the fuck is that ?,24,True,5
69826,69826,`` you 're an ass .,21,True,5
79965,79965,`` fuck if i know . '',19,True,6
85715,85715,`` you scared the shit out of me .,18,True,8
89295,89295,`` he 's an ass . '',17,True,6
137218,137218,"`` shut up , bitch . ''",12,True,6

In [76]:
# common longer sentences with "bad words"
sentences_df[(sentences_df.contains_bad_word) & (sentences_df.space_count>7)].head(10)

,Unnamed: 0,sentence,n,contains_bad_word,space_count
24378,24378,`` what the fuck are you talking about ? '',52,True,9
25302,25302,`` what the fuck are you doing ? '',51,True,8
40642,40642,`` you scared the shit out of me . '',34,True,9
46609,46609,`` you 're so full of shit . '',30,True,8
52958,52958,`` you are so full of shit . '',27,True,8
54045,54045,`` what the fuck do you think you 're doing ? '',26,True,11
55438,55438,`` what the fuck are you doing here ? '',26,True,9
56448,56448,you scared the shit out of me ! '',25,True,8
64022,64022,`` what the fuck is going on ? '',23,True,8
64052,64052,you scared the shit out of me . '',23,True,8